<html>
<head>
  <link rel="stylesheet" href="res://css/pico.css" />
  <link rel="stylesheet" href="res://css/pico.colors.min.css" />
  <style>
    {% include 'patch.css' %}
  </style>
</head>
<body>
{% macro name_value(name, value) -%}
{% if value %}<div class="name">{{ name }}</div><div class="value">{{ value }}</div>{% endif %}
{%- endmacro %}

  <article>
    <div class="values">
      <div class="name">Device</div>
      <div class="value">{{ patch.target_device.midi_id|hex }}</div>
      <div class="name">Name</div>
      <div class="value">{{ patch.target_device.name }}</div>
      <div></div><div></div>
      {{ name_value("author", patch.meta.author) }}
      {{ name_value("guitarist", patch.meta.guitarist) }}
      {{ name_value("band", patch.meta.band) }}
      {{ name_value("song", patch.meta.song) }}
      {{ name_value("style", patch.meta.style) }}
      {% if patch.meta.pickup_position or patch.meta.pickup_style %}
        {{ name_value("pickup", patch.meta.pickup_position ~ ' - ' ~ patch.meta.pickup_style) }}
      {% endif %}
      {{ name_value("amp", patch.meta.amp_name) }}
      {% if patch.meta.creator_app or patch.meta.creator_app_version %}
        {{ name_value("app", patch.meta.creator_app ~ ' ' ~ patch.meta.creator_app_version) }}
      {% endif %}
      {{ name_value("comments", patch.meta.comments) }}
    </div>
  </article>

  {% for group in groups %}
  <article>
    <details open>
      <summary>{{ group.name }}</summary>
      <p>
      <div class="values">
        {% for (name, value) in group.values %}
        <div class="name">{{ name }}</div>
        <div class="value" data-tooltip="{{ raw[name] }}">{{ values[name] }}</div>
        {% endfor %}
      </div>
      </p>
    </details>
  </article>
  {% endfor %}
  {% if errors %}
  <article class="errors">
    <details open>
      <summary><span class="pico-color-red-550">Errors</span></summary>
      <p>
      <ul>
        {% for error in errors %}
        <li class="error">{{ error }}</li>
        {% endfor %}
      </ul>
      </p>
    </details>
  </article>
  {% endif %}
<!--
  <pre>
      {{- debug(patch) }}
  </pre>
-->
</body>
</html>